.btn1{
    background-color: #70a970;
    color: white;
    border: #70a970;
    border-radius: 5px;
}
.btn2{
    background-color: #70a970;
    color: white;
    border: #70a970;
    border-radius: 5px;
}
.btn3{
    background-color: #70a970;
    color: white;
    border: #70a970;
    border-radius: 5px;
}
.btn4{
    background-color: #70a970;
    color: white;
    border: #70a970;
    border-radius: 5px;
}